<h1>Robert Harker’s Musings</h1>
	<ul>
	  <li><a href="http://www.harker.com/OpenData/index.html">
	    Open Data</a></li>
	  <li><a href="http://www.harker.com/OpenStack/index.html">
	    Setting Up OpenStack</a></li>
	  <li><a href="http://www.harker.com/puppet/index.html">
	    Puppet</a></li>
	</ul>

    <p>Harker Systems’<br>Resources</p>
    <ul>
<!--      <li><a href="http://www.harker.com/sendmail/sendmail-tips.html"> -->
      <li><a href="http://www.harker.com/sendmail/index.html">
	Sendmail Tips &amp; Tricks</a></li>
      <li><a href="http://www.harker.com/sendmail/sendmail-ref.html">
	Sendmail References</a></li>
      <li><a href="http://www.harker.com/dns/dns-ref.html">
	Bind &amp; DNS References</a></li>
      <li><a href="http://www.harker.com/ldap/ldap-ref.html">
	LDAP References</a></li>
    </ul>
    <ul>
	  <li>Old: <a href="http://www.harker.com/virtual/index.html">
	    Experiments With Setting Virtual Data Centers</a></li>
	  <li><a href="http://www.harker.com/resume/cabling.html">
	    Cabling and Rack Mounting Hardware</a></li>
    </ul>
